*/build/
*/plugin_build/
*/uni_modules/
build/
gen_code/
node_gen_code/
.DS_Store
*/cmake_tmp_dir/
node_modules/
results/
*/.hbuilderx/
*/unpackage/
/automation/log.html
/automation/report.html
/automation/output.xml
.venv/
log.html
report.html
output.xml
/automation/__pycache__/
**/package-lock.json
**/yarn.lock
**/last-build-time.txt
mt_gui/dist
**/cmake_tmp_dir/
doc_site/public/
doc_site/resources/
doc_site/.hugo_build.lock