*/build/
*/plugin_build/
*/uni_modules/
build/
gen_code/
node_gen_code/
.DS_Store
*/cmake_tmp_dir/
node_modules/
results/
*/.hbuilderx/
*/unpackage/
/automation/log.html
/automation/report.html
/automation/output.xml
.venv/
log.html
report.html
output.xml
/automation/__pycache__/
**/package-lock.json